footer{
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    padding: 2rem;
    >a{
        text-align: center;
    }
    .social{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    div{
        display: flex;
        flex-direction: column;
        padding: 0 0 1rem 0;
    }
    a{
        text-decoration: none;
        color: black;
        padding: 1rem 0;
    }

}
@media(min-width:1000px){
    footer{
        >div{
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        .end{
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}