input[type=checkbox],
input[type=radio]{
    display: none;
}
input[type=checkbox]+label{
    &::before{
        //content: '\f0c8';
        padding-right: 1rem;
    }
}
input[type=text]{
    margin: 0;
    border: none;
}
input[type=submit],
input[type=reset]{
    display: none;
}
header{
    a, label{
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: $pills-color;
        border-radius: 2rem;
        text-decoration: none;
    }
    margin: 0;
    display: flex;
    flex-direction: column;
    .navigation{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &-items{
            display: flex;
            justify-content: flex-end;
            form{
                display: flex;
                input,label{
                    display: none;
                }
            }
        }
    }
    .options{
        padding: 0.5rem 1rem;
        display: none;
        z-index: 100;
        flex-direction: column;
        border-radius: 1rem;
        box-shadow: 0 0 1rem darkgray;
        &-searchbar{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0;
        }
        &-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &-submit{
            display: none;
        }
        #category-select{
            display: flex;
            &--main,
            &--sub{
                display: flex;
                flex-direction: column;
            }
        }
        #filters{
            display: none;
            flex-direction: column;
            &-header{
                display: flex;
                flex-wrap: wrap;
                a::after{
                    content: '>'; //docelowo chevron down
                }
            }
            &-select{
                display: flex;
                >div{
                    display: none;
                    flex-direction: column;
                }
                &--price{
                    display: flex;
                    justify-content: center;
                    .pair{
                        display: flex;
                        justify-content: center;
                        input[name=min], input[name=max]{
                            width: 30%;
                        }
                    }
                }
            }
        }
    }
    }
@media (min-width: 1000px) {
    header{
        display: flex;
        flex-direction: column;
        position: relative;
        .navigation{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a,label,input[type=text]{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0;
            }
            .logo{
                display: inline-block;
                height: 10vh;
                width: 45vh;
            }
            &-items{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                height: 3rem;
                gap: 1rem;
                form{
                    display: flex;
                    box-shadow: 0 0 0.5rem darkgray;
                    label{
                        display: block;
                    }
                }
            }
        }
        .options{
            flex-direction: row;
            align-items: flex-start;
            position: absolute;
            top: 100%;
            left: 25%;
            width: 50%;
            background-color: $options_bgcolor;
            &-searchbar{
                display: none;
            }
            a{
                width: 100%;
            }
            &-header{
                display: flex;
                flex-direction: column;
            }
            #category-select{
                width: 70%;
                flex-direction: row;
                &--subcategories, 
                &--maincategories{
                    display: flex;
                    flex-direction: column;
                }
            }
            #filters{
                display: flex;
                flex-direction: row;
                &-header{
                    flex-direction: column;
                    flex-wrap: nowrap;
                }
            }
        }
    }
}