.categories{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    h3,h4{
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
    img{
        width: 8rem;
        height: 8rem;
        border-radius: 4rem;
    }
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        a{
            text-decoration: none;
            color: black;
            text-align: center;
        }
    }
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    .background{
        height: 30vh;
        width: 100%;
        background-image: url('../images/background.jpg');
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .slogan{
        padding: 1rem;
        width: 80vw;
        margin: 1rem 10vw;
        background-color: rgba(153, 153, 153, 0.5);
        box-shadow: 0 0 1rem darkgray;
        border-radius: 2vw;
        h1{
            margin: 0.5rem 0.5rem 1.5rem 0.5rem;
        }
        a{
            display: block;
            padding: 0.5rem 1rem;
            margin: 0.5rem 0;
            text-align: center;
            text-decoration: none;
            color: black;
            background-color: darkgray;
            border-radius: 2vw;

        }
    }
}
.extra{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h2{
        text-align: center;
        display: block;
        width: 100vw;
        margin: 0.5rem;
    }

}
@media(min-width:1000px){
    .hero{
        height: 60vh;
        position: relative;
        margin: 0 10%;
        .background{
            height: 100%;
        }
        .slogan{
            position: absolute;
            left: 5%;
            bottom: 10%;
            width: 40%;
            max-height: 60%;
            margin: 0;
            &-buttons{
                display: flex;
                justify-content: space-evenly;
                a{
                    width: 40%;
                }
            }
        }
    }
    .categories{
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 10%;
        h3,h4{
            width: 100%;
        }
        div{
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            padding: 2rem;
            width: 40%;
            border-radius: 2rem;
            box-shadow: 0 0 1rem darkgray;
        }
    }
    .extra{
        margin: 0 10%;
        color: blue;
    }
}