.header{
    text-align: center;
}
.pagination{
    display: flex;
    justify-content: center;
    width: 100% !important;
    a, span{
        display: block;
        background-color: lightgray;
        padding: 0.5rem;
    }
}
.offer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    .single-offer{
        display: flex;
        flex-direction: column;
        width: calc(50% - 1rem/2);
        padding: 0.25rem;
        border-radius: $radius;
        text-decoration: none;
        background-color: $primary;
        .offer-pic{
            display: block;
            object-fit: contain;
            height: 50vw;
            margin: 0.25rem 0;
        }
        .offer-title{
            font-size: 0.85rem;
            padding-top: 0.5rem;
        }
        span, .offer-title{
            display: block;
            margin: 0;
            padding: 0 0.5rem;
        }
        .desc{
            font-size: 0.75rem;
            .price{
                font-size: 1rem;
                font-weight: bolder;
            }
            div{
                display: flex;
                justify-content: space-between;
                font-size: 0.6rem;

            }
        }
    }
}
@media(min-width:1000px){
    .offer-container{
        .single-offer{
            min-width: 15rem;
            width: calc(25% - 3rem / 4);
            .offer-pic{
                min-height: 16rem;
                height: calc((100vw - 20rem) / 4 - 3rem / 4);
            }
        }
    }
}