
.rejestracja
{
    margin: 5vh auto;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
    .buttonlogin{
        span{
            display: block;
            text-align: center;
            margin-bottom: 1rem;
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
            margin: 0 35px;
            border-radius: 5px;
            border: none;
            text-decoration: none;
            box-shadow: inset 0 0 0 0.125rem #36b03c;
            color: #36b03c;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: pointer;
            background-color: #fff;
            transition: background-color 0.5s ease, box-shadow 0.5s ease;
            &:hover{
            box-shadow: inset 0 0 0 0.25rem #36b03c;
            }
            
        }
    }
}

form .buttonll{
    height: 45px;
    margin: 35px 
  }
  form .buttonll input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: #36b03c;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    &:hover{
      background-color: #fff;
      color: #36b03c;
      box-shadow: inset 0 0 0 0.25rem #36b03c;
    }
  }


.rejestracja .title{
    font-size: 25px;
    text-align: center;
    font-style: italic;
    font-weight: 800;
    padding-bottom: 20px;
}

.user-detailsR .input-box3 input{
    height: 45px;
    width: 75%;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-detailsR .input-box4 input{
    height: 45px;
    width: 75%;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-detailsR .input-box5 input{
    height: 45px;
    width: 75%;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  .user-detailsR .input-box6 input{
    height: 45px;
    width: 75%;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  .user-detailsR .input-box3
  {
      padding-bottom: 30px;
  }

  .user-detailsR .input-box4
  {
      padding-bottom: 30px;
  }
  .user-detailsR .input-box5
  {
      padding-bottom: 30px;
  }

  .input-box3
{
    position: relative;
    text-align: center;
}
  
.input-box3 i 
{
    position: absolute;
    left: 1rem;
    top: 0.88rem;
    color: black;
}

.input-box4 
{
    position: relative;
    text-align: center;
}
  
.input-box4 i 
{
    position: absolute;
    left: 1rem;
    top: 0.88rem;
    color: black;
}

.input-box5 
{
    position: relative;
    text-align: center;
}
  
.input-box5 i 
{
    position: absolute;
    left: 1rem;
    top: 0.88rem;
    color: black;
}

.input-box6
{
    position: relative;
    text-align: center;
}
  
.input-box6 i 
{
    position: absolute;
    left: 1rem;
    top: 0.88rem;
    color: black;
}